streamlit==1.46.1

# YouTube transcript
youtube-transcript-api==1.2.2
pytube==15.0.0

# LLM + orchestration
openai==1.91.0
langchain==0.3.26 

# Environment variables
python-dotenv==1.1.1

# Data handling
pandas==2.3.0

# Optional utilities
tiktoken==0.9.0
requests==2.32.4

# Text processing
nltk==3.9.1

# UI improvements
streamlit-extras==0.7.5